repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-builtin-literals
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-docstring-first
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
      exclude: tests/
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: end-of-file-fixer
      exclude: tests/test_changes/
      files: \.(py|sh|rst|yml|yaml)$
    - id: pretty-format-json
      args: [--autofix]
    - id: sort-simple-yaml
    - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: "v0.15.1"
  hooks:
    - id: ruff

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
      name: isort (python)

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 26.1.0
  hooks:
    - id: black
      exclude: tests/

#- repo: https://github.com/asottile/pyupgrade
#  rev: v3.15.0
#  hooks:
#    - id: pyupgrade
#      args: [--py311-plus]


#- repo: https://github.com/gitguardian/ggshield
#  rev: v1.20.0
#  hooks:
#    - id: ggshield
#      language_version: python3
#      stages: [commit]
